@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Light';
    src: local('iranYekan-Light'),
    url('/fonts/iranYekan-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Regular';
    src: local('iranYekan-Regular'),
    url('/fonts/iranYekan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bold';
    src: local('iranYekan-Bold'),
    url('/fonts/iranYekan-Bold.ttf') format('truetype');
}
